:root {
    --case: #618685;
    --buttons: #d5f4e6;
    --display: #fefbd8;
    --buttonsHover: #80ced6;
}

body {
    font-family: monospace;
}

.container {
    width: 300px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 14px;
    border: 2px solid var(--case);
    border-radius: 5px;
    background-color: var(--case);
}

.display {
    flex-basis: 100%;
    height: 100px;
    background-color: var(--display);
    text-align: right;
    font-size: xx-large;
}



.middle {
    flex-basis: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

button {
    border: none;
    padding: 15px 25px;
    width: 71.25px;
    background-color: var(--buttons);
}

button:hover {
    background-color: var(--buttonsHover);
}